@font-face {
    src: url('../fonts/MyriadPro-Regular.otf');
    font-family: 'Myriad Pro';
} 

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Myriad Pro';
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.padding-bottom {
    padding-bottom: 40px;
}

.header-flex {
    box-sizing: border-box;
}

.header-img {
    overflow: hidden;
}

.header-img-flex {
    display: flex;
    position: relative;
}

.header-img-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.sl1 {
    background-image: url(../images/photos/top.jpg);
}

.sl2 {
    background-image: url(../images/photos/top2.jpg);
}

.sl3 {
    background-image: url(../images/photos/top3.jpg);
}

.header-btn-block {
    position: relative;
}

.header-btn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
    top: 50%;
    cursor: pointer;
}

.left-btn {
    background-image: url(../images/icons/left-btn.svg);
    left: 10%;
}

.right-btn {
    background-image: url(../images/icons/right-btn.svg);
    right: 10%;
}

.header-flex-opacity {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

h2 {
    position: relative;
}

h2:not(.main-h2):after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: #ffc155;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -1vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    a {
        text-decoration: none;
        color: white;
        font-size: 14.5px;
        margin: 0 20px;
        white-space: nowrap;
        position: relative;
    }
    a:hover {
        color: #ffdb47;
        transition: 0.5s all
    }
    a:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        background: #ffdb47;
        bottom: 0px;
        transition: 0.4s all;
        margin: 0 auto;
        right: 0;
        left: 0;
    }
    a:hover:before {
        width: 50px;
        transition: 0.4s all;
    }
}

.header-flex-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    div:nth-child(1) {
        background: url(../images/icons/spasskaya-tower.png) center center / contain no-repeat;
        height: 65px;
        width: 65px;
        margin-right: 19px;
    }
    div:nth-child(2) {
        color: #ffdb47;
        font-family: MV Boli;
        font-size: 36px;
    }
}

.header-flex-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20vh;
    h1 {
        font-size: 59px;
    }
    h2 {
        font-size: 28px;
    }
}

.header-flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    a {
        background-color: #709dca;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        font-size: 17px;
        padding: 15px;
        font-size: 17px;
        line-height: 1.2;
    }
}

.menu-btn {
    width: 50px;
    height: 30px;
    position: relative;
    top: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 999;
    display: none;
    transition: 0.5s all;
    div {
        height: 3px;
        width: 50px;
        background: #ffdb47;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        transition: 0.5s all;
    }
    &:before {
        height: 3px;
        width: 50px;
        background: #ffdb47;
        top: 0px;
        margin: auto;
        position: absolute;
        content: "";
        transition: 0.5s all;
    }
    &:after {
        height: 3px;
        width: 50px;
        background: #ffdb47;
        bottom: 0px;
        margin: auto;
        position: absolute;
        content: "";
        transition: 0.5s all;
    }
}

.menu-btn-open {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
    transition: 0.5s all;
    div {
        display: none;
        transition: 0.5s all;
    }
    &:before {
        height: 3px;
        width: 100%;
        background: #ffdb47;
        top: 5px;
        left: 2px;
        margin: auto;
        position: absolute;
        content: "";
        transform: rotate(45deg);
        transform-origin: 0 0;
        transition: 0.5s all;
    }
    &:after {
        height: 3px;
        width: 100%;
        background: #ffdb47;
        bottom: 5px;
        margin: auto;
        position: absolute;
        content: "";
        transform: rotate(-45deg);
        transform-origin: 0 0;
        transition: 0.5s all;
    }
}



.offer-question {
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        margin-top: 83px;
        margin-bottom: 45px;
        font-size: 26px;
        color: #709dca;
        text-transform: uppercase;
        line-height: 0.846;
        text-align: center;  
    }
    span {
        font-size: 16px;
        color: #394b50;
        line-height: 1.375;
        text-align: center; 
    }
}

.offer-answer {
    display: flex;
    align-items: stretch;
    justify-content: left;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 5vh 0;
    > div {
        min-width: 50%;
        display: flex;
        align-items: stretch;
        justify-content: left;
        flex-grow: 1;
        flex-basis: 300px;
        padding: 10px;
        box-sizing: border-box;
    }
    h3 {
        font-size: 16px;
        color: #394b50;
        line-height: 1.375;
        text-transform: uppercase;
    }
    span {
        font-size: 13px;
        color: #7b7b7b;
        line-height: 1.692;
    }
    div:last-child {
        padding: 10px;
    }
}

.offer-answer-choice-icon {
    min-width: 50px;
    background: 0 17px / contain no-repeat;
}

.map {
    background-image: url(../images/icons/map.png);
}

.souvenir {
    background-image: url(../images/icons/souvenir.png);
}

.compass {
    background-image: url(../images/icons/compass.png);
}

.picture {
    background-image: url(../images/icons/picture.png);
}

.discussion {
    background-image: url(../images/icons/discussion.png);
}

.sun {
    background-image: url(../images/icons/sun.png);
}


.about-us {
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    flex-wrap: wrap;
    div:nth-child(1) {
        background: url(../images/photos/group.jpg) center center / cover no-repeat;
        width: 50%;
        flex-grow: 1;
        flex-basis: 300px;
        min-height: 376px;
    }
    div:nth-child(2) {
        background: #ffc155;
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding: 5vw;
        color: white;
        flex-grow: 1;
        flex-basis: 300px;
        width: 50%;
        box-sizing: border-box;
        h2 {
            font-size: 26px;
            text-transform: uppercase;
            line-height: 0.846;
            padding-bottom: 40px;
        }
        span {
            font-size: 13px;
            line-height: 1.846;
            padding-bottom: 40px;
        }
        a {
            background: #e7ad48;
            padding: 20px;
            border: 2px solid #cb8d21;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            max-width: 150px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.moskow {
    text-align: center;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        font-size: 28px;
        color: #709dca;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: Roboto;
        margin-bottom: 50px;
    }
    div {
        background: #ffc155;
        height: 2px;
        max-width: 220px;
        margin-bottom: 40px;
    }
    span {
        font-size: 17px;
        color: #062033cc;
        line-height: 1.411;
        padding-bottom: 130px;
    }
}

.moskow-photos {
    display: flex;
    flex-wrap: wrap;
    div {
        min-width: 25%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    div:nth-child(1) {
        background-image: url(../images/photos/4.jpg);
    }
    div:nth-child(2) {
        background-image: url(../images/photos/3.jpg);
    }
    div:nth-child(3) {
        background-image: url(../images/photos/2.jpg);
    }
    div:nth-child(4) {
        background-image: url(../images/photos/1.jpg);
    }
    div:nth-child(5) {
        background-image: url(../images/photos/8.jpg);
    }
    div:nth-child(6) {
        background-image: url(../images/photos/7.jpg);
    }
    div:nth-child(7) {
        background-image: url(../images/photos/6.jpg);
    }
    div:nth-child(8) {
        background-image: url(../images/photos/5.jpg);
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    h2 {
        font-size: 26.344px;
        color: #709dca;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .feedback-f {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        width: 100%;
        .feedback-item {
            padding: 20px 10px;
            width: 50%;
            box-sizing: border-box;
            max-width: 500px;
            flex-grow: 1;
            flex-basis: 300px;
            .feedback-item-text {
                padding: 30px;
                background: #f6f3f3;
            }
            .feedback-item-char {
                display: flex;
                align-items: center;
                margin: 10px 0;
                span {
                    padding: 0 10px;
                }
            }
        }
    }
}

.feedback-char-photo {
    background: center center / contain no-repeat;
    width: 45px;
    height: 45px;
}

.chr1 {
    background-image: url(../images/testimonials/test1.jpg);
}

.chr2 {
    background-image: url(../images/testimonials/test2.jpg);
}

.write {
    background: #eef0f0;
    h2{
        font-size: 26.344px;
        color: #709dca;
        text-transform: uppercase;
        line-height: 1.2;
        margin: 45px 0;
    }
    form {
        display: flex;
        width: 100%;
        div {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
        }
    }
}

.write .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[type="text"], select {
    font-size: 16px;
    color: #2a284fc2;
    line-height: 0.944;
    padding: 5px;
    border: 2px solid #ffc155;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    height: 45px;
}

label {
    position: relative;
    padding: 0;
}

.form-text {
    color: gray;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: -10px;
    margin: auto;
    transition: 0.3s;
    font-size: 16px;
}

.form-text-focusin {
    color: gray;
    position: absolute;
    z-index: 2;
    top: -30px;
    left: -15px;
    margin: auto;
    transition: 0.3s;
    font-size: 10px;
}

[type="submit"] {
    background: #273a43;
    border: 2px solid #ffc155;
    padding: 5px;
    line-height: 0.944;
    color: white;
    margin-bottom: 40px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

textarea {
    border: 2px solid #ffc155;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

footer {
    background: #273a43;
    div:first-child {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-invite, .footer-contact, .footer-news {
    width: 33.33333%;
    padding: 50px;
    color: white;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 250px;

}

.footer-invite-logo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    div {
        background: url(../images/icons/spasskaya-tower.png) center center / contain no-repeat;
        min-height: 40px;
        min-width: 40px;
    }
    span {
        font-size: 36px;
        font-family: "MV Boli";
        color: #ffdb47;
        line-height: 0.556;
        margin-left: 10px;
    }
}

.footer-invite > span {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: #c3c3c3;
    line-height: 1.429;
}

.footer-contact {
    h3 {
        font-size: 22px;
        line-height: 0.909;
        margin-bottom: 25px;
    }
    div {
        margin-bottom: 5px;
        display: flex;
        div {
            min-width: 25px;
            min-height: 25px;
            margin-right: 15px;
        }
    }
}

.placeholder {
    background: url(../images/icons/placeholder.png) center center / contain no-repeat;
}

.mail {
    background: url(../images/icons/mail.png) center center / contain no-repeat;
}

.telephone {
    background: url(../images/icons/telephone.png) center center / contain no-repeat;
}

.footer-news {
    h3 {
        font-size: 22px;
        line-height: 0.909;
        margin-bottom: 25px;
    }
    div:nth-child(1n) {
        font-size: 13.5px;
        font-family: "OpenSans";
        color: #c4c4c4;
        line-height: 1.481;
    }
    div:nth-child(odd) {
        color: #518096;
        margin-bottom: 15px;
    }
}

.foooter {
    background: #172227;
}

.foooter > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.foooter > div > div {
    margin: 40px 0;
    width: 33.333333%;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
    flex-basis: 250px;
    font-size: 13.5px;
    color: #c4c4c4;
    line-height: 1.333; 
}

.social {
    display: flex;
    justify-content: center;
    a {
        min-width: 35px;
        min-height: 35px;
        margin: 0px 5px;
    }
}

.social a:nth-child(1) {
    background: url(../images/photos/social/vk.png) center center / contain no-repeat;
}

.social a:nth-child(2) {
    background: url(../images/photos/social/facebook.jpg) center center / contain no-repeat;
}

.social a:nth-child(3) {
    background: url(../images/photos/social/instagram.jpg) center center / contain no-repeat;
}

.arrow {
    background: url(../images/icons/arrow-up.svg) center center / cover no-repeat;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.over {
    overflow:hidden;
    position: relative;
}


@media (max-width: 850px) {
    .menu-btn {
        display: block;
        position: fixed;
        z-index: 999;
    }
    .header-flex-links {
        display: inline;
        position: absolute;
        top: 0;
        right: -100%;
        left: 100%;
        background: rgba(0, 0, 0, 0.705);
        z-index: 3;
        transition: 1s all;
    }
    .header-flex-links a {
        display: block;
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .header-flex-links-active {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.705);
        z-index: 3;
        transition: 1s all;
    }
    .header-btn {
        width: 50px;
        height: 50px;
        top: 80%
    }
}

@media (min-width: 540px) and (max-width: 1050px) {
    .moskow-photos div {
        width: 50%;
        height: 400px;
    }
}

@media (max-width: 539px) {
    .moskow-photos div {
        width: 100%;
        height: 500px;
    }
}

.table {
    display: table;
    border: 1px solid #ffc155;
    margin: auto;
    .table-row {
        display: table-row;
        .table-cell {
            display: table-cell;
            padding: 10px;
            border: 2px solid #ffc155;
            margin: 2px;
        }
    }
}

// стили отправленной формы

.form-main {
    width: 500px;
    border: 2px solid #ffc155;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.new {
    border: 2px solid black !important;
}


// снежинки
.flake {
    position: absolute;
    z-index: 999;
    top: 0;
    animation: flake 10s infinite;
}

@keyframes flake {

    100% {
        transform: rotate(25deg) translate(0, 100vh) rotate(360deg);
        opacity: 0;
    }
}