@font-face {
  src: url("../fonts/MyriadPro-Regular.otf");
  font-family: 'Myriad Pro';
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Myriad Pro';
}

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.header-flex {
  background: url(../images/trips/top1.jpg) center center/cover no-repeat;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-flex-opacity {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 21px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1200px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14.5px;
  margin: 0 20px;
  white-space: nowrap;
  position: relative;
}

nav a:hover {
  color: #ffdb47;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

nav a:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  background: #ffdb47;
  bottom: 0px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  margin: 0 auto;
  right: 0;
  left: 0;
}

nav a:hover:before {
  width: 50px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.header-flex-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.header-flex-logo div:nth-child(1) {
  background: url(../images/icons/spasskaya-tower.png) center center/contain no-repeat;
  height: 65px;
  width: 65px;
  margin-right: 19px;
}

.header-flex-logo div:nth-child(2) {
  color: #ffdb47;
  font-family: MV Boli;
  font-size: 36px;
}

.header-flex-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 20vh;
}

.header-flex-title h1 {
  font-size: 59px;
}

.header-flex-title h2 {
  font-size: 28px;
}

.header-flex-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
}

.header-flex-button a {
  background-color: #709dca;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
  padding: 15px;
  font-size: 17px;
  line-height: 1.2;
}

.menu-btn {
  width: 50px;
  height: 30px;
  position: relative;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 999;
  display: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn div {
  height: 3px;
  width: 50px;
  background: #ffdb47;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn:before {
  height: 3px;
  width: 50px;
  background: #ffdb47;
  top: 0px;
  margin: auto;
  position: absolute;
  content: "";
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn:after {
  height: 3px;
  width: 50px;
  background: #ffdb47;
  bottom: 0px;
  margin: auto;
  position: absolute;
  content: "";
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn-open {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn-open div {
  display: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn-open:before {
  height: 3px;
  width: 100%;
  background: #ffdb47;
  top: 5px;
  left: 2px;
  margin: auto;
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.menu-btn-open:after {
  height: 3px;
  width: 100%;
  background: #ffdb47;
  bottom: 5px;
  margin: auto;
  position: absolute;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

main h2 {
  font-size: 26px;
  color: #709dca;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 5vh;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item p {
  padding-top: 2vh;
}

.item div:nth-child(3) {
  text-align: right;
}

.item div:nth-child(7) {
  text-align: right;
}

.item-btn {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 3vh;
  background-color: #e7ad48;
  border: 2px solid #cb8d21;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
  max-width: 190px;
}

.item-text h2 {
  font-size: 34.7px;
  color: white;
  line-height: 42.7px;
  text-align: left;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.item-text {
  font-size: 19.5px;
  color: white;
  line-height: 24px;
  text-align: left;
  background-color: #ffc155;
  padding: 5vh;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item-photo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50%;
  min-height: 630px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mos-city {
  background-image: url(..//images/trips/3_01.jpg);
}

.tower {
  background-image: url(..//images/trips/2_02.jpg);
}

.margarita {
  background-image: url(..//images/trips/3_03.jpg);
}

.metro {
  background-image: url(..//images/trips/2_04.jpg);
}

.white-space {
  background: white;
  height: 125px;
}

footer {
  background: #273a43;
}

footer div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-invite, .footer-contact, .footer-news {
  width: 33.33333%;
  padding: 50px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.footer-invite-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.footer-invite-logo div {
  background: url(../images/icons/spasskaya-tower.png) center center/contain no-repeat;
  min-height: 40px;
  min-width: 40px;
}

.footer-invite-logo span {
  font-size: 36px;
  font-family: "MV Boli";
  color: #ffdb47;
  line-height: 0.556;
  margin-left: 10px;
}

.footer-invite > span {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #c3c3c3;
  line-height: 1.429;
}

.footer-contact h3 {
  font-size: 22px;
  line-height: 0.909;
  margin-bottom: 25px;
}

.footer-contact div {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contact div div {
  min-width: 25px;
  min-height: 25px;
  margin-right: 15px;
}

.placeholder {
  background: url(../images/icons/placeholder.png) center center/contain no-repeat;
}

.mail {
  background: url(../images/icons/mail.png) center center/contain no-repeat;
}

.telephone {
  background: url(../images/icons/telephone.png) center center/contain no-repeat;
}

.footer-news h3 {
  font-size: 22px;
  line-height: 0.909;
  margin-bottom: 25px;
}

.footer-news div:nth-child(1n) {
  font-size: 13.5px;
  font-family: "OpenSans";
  color: #c4c4c4;
  line-height: 1.481;
}

.footer-news div:nth-child(odd) {
  color: #518096;
  margin-bottom: 15px;
}

.foooter {
  background: #172227;
}

.foooter > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foooter > div > div {
  margin: 40px 0;
  width: 33.333333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  font-size: 13.5px;
  color: #c4c4c4;
  line-height: 1.333;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social a {
  min-width: 35px;
  min-height: 35px;
  margin: 0px 5px;
}

.social a:nth-child(1) {
  background: url(../images/photos/social/vk.png) center center/contain no-repeat;
}

.social a:nth-child(2) {
  background: url(../images/photos/social/facebook.jpg) center center/contain no-repeat;
}

.social a:nth-child(3) {
  background: url(../images/photos/social/instagram.jpg) center center/contain no-repeat;
}

.arrow {
  background: url(../images/icons/arrow-up.svg) center center/cover no-repeat;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.over {
  overflow: hidden;
  position: relative;
}

@media (max-width: 800px) {
  .menu-btn {
    display: block;
    position: fixed;
    z-index: 999;
  }
  .header-flex-links {
    display: inline;
    position: absolute;
    top: 0;
    right: -100%;
    left: 100%;
    background: rgba(0, 0, 0, 0.705);
    z-index: 3;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .header-flex-links a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }
  .header-flex-links-active {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.705);
    z-index: 3;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  .right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item-photo {
    width: 100%;
  }
  .item-text {
    width: 100%;
  }
  .mos-city {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mos-city-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tower {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tower-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .margarita {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .margarita-text {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .metro {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .metro-text {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .item-text h2 {
    text-align: center;
  }
  .item-text p {
    text-align: left;
  }
}
/*# sourceMappingURL=trips.css.map */